#ignore .env files
.env

#ignore .venv folder
.venv

#ignore picture files
.jpg

.png

#ignore __pycache__
__pycache__

#ignore db
db.sqlite3

#ignore migrations
*_initial.py

#ignore images 
images

#ignore encode file
EncodeFile.p